/* just exercis ethe face font feature */

/* @font-face {
    font-family: "Trickster";
    src:
      local("Trickster"),
      url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
      url("trickster-outline.otf") format("opentype"),
      url("trickster-outline.woff") format("woff");
  } */





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy;
}
  
html, body{
    height: 100%;
    width: 100%;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    border: 1px solid black;
}